<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/path/to/lib/jquery.waypoints.min.js"></script>
	<script src="/path/to/shortcuts/sticky.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/2.1.11/jquery.mixitup.min.js"></script>

  </head>
  <body>

		<div class="firstpage">
	    <h1><%= title %></h1>
	    <p>Hello, I'm Daniel Degrassi.</p>
	    <p>I'm a full stack developer</p>
	  </div>
    <div class="secondpage">
    	<p>This will be second page yes?</p>
    </div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
