<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>
	<script src="javascripts/sticky.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/2.1.11/jquery.mixitup.min.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

  </head>
  <body>
		<div class="firstpage">
			<div class="firstpagecontent">
				<div class="firstpagetext">
		    	<p>Hello, I'm <span class="myname">Daniel Degrassi</span>.</p>
		    	<p>I'm a full stack developer</p>
		  	</div>
		    <p id="scrollto2ndpage">Check out my JAMMIE JAMS     <i class="fas fa-angle-double-down" id="moveable-fav"></i></p>
		  </div>
	  </div>
	  <div class="navbar">
		  <p id="homebutton">Home</p>
		  <p id="aboutbutton">About</p>
		  <p id="portfoliobutton">Portfolio</p>
		  <p id="contactbutton">Contact</p>
		</div>
    <div class= "pages" id="about">
    	<p class="page-title">About</p>
        <div class="text-center">
            <li class="about-keywords">
                <img src="images/ck2thumb-ep1.png" class="about-img">
                <div class="about-title">Fast</div>
                <div class="about-text">Fast load times and lag free interaction, my highest priority.</div>
            </li>
            <li class="about-keywords">
                <img src="images/ck2thumb-ep1.png" class="about-img">
                <div class="about-title">Responsive</div>
                <div class="about-text">My layouts will work on any device, big or small.</div>
            </li>
            <li class="about-keywords">
                <img src="images/ck2thumb-ep1.png" class="about-img">
                <div class="about-title">Intuitive</div>
                <div class="about-text">Strong preference for easy to use, intuitive UX/UI.</div>
            </li>
            <li class="about-keywords">
                <img src="images/ck2thumbep2.png" class="about-img">
                <div class="about-title">Dynamic</div>
                <div class="about-text">Websites don't have to be static, I love making pages come to life.</div>
            </li>
        </div>
        <div class="text-center">
            <div class="about-keywords">
                <img src="images/ck2thumb-ep1.png" class="about-img">
                <div class="about-text">A little blurb about me will go here</div>
            </div>
            <div class="about-keywords" id="skills-tools">
                My skills and languages and such will go here.  he has it in a cool graphical overlay thingie, but i'll probalby do something a little different.  either just lay it out in text or some other graphical table that doesnt rely on percentages.
            </div>
        </div>
    </div>
    <div class= "pages" id="portfolio">
    	<div class= "page-title">Portfolio</div>
    	<div class="controls">
    		<button type="button" class="control" data-filter="all">All</button>
    		<button type="button" class="control" data-filter=".javascript">Javascript</button>
    		<button type="button" class="control" data-filter=".ruby">Ruby</button>
    	</div>
    	<div class="container">
    		<div class="row">
		    	<div class="portfolio-container">
		    		<img src= "images/ck2thumb-ep1.png" class="mix ruby">
		    		<img src= "/images/ck2thumbep2.png" class="mix javascript">    	
		    		<img src="/images/ck2thumbep3.png" class="mix ruby">
		    		<img src="/images/ck2thumbep4.png" class=" mix ruby javascript">

	<!--     		<div class="gap"></div>
	    		<div class="gap"></div>
	    		<div class="gap"></div> -->
	    		</div>
	    	</div>
	    </div>
    </div>
    <div class= "pages" id="contact">
    	<div class="page-title">Contact</div>
    	<div>
    		<form id="contact-form">
    			<input id="contact-name" type="text" name="name" placeholder="Enter your name.">
    			<input id="contact-email" type="text" name="email" placeholder="Enter your email">
    			<input id="contact-content" type="text" name="message" placeholder="what do you have to say for yourself">
    			<input type="submit" value="Done">
    		</form>
    	</div>
    </div>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.0/mixitup.min.js></script>
    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/gradientbackground.js"></script>

  </body>
</html>
