<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Karma|Raleway" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>
  <script src="javascripts/sticky.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/2.1.11/jquery.mixitup.min.js"></script>
  <script src="//cdn.jsdelivr.net/jquery.color-animation/1/mainfile"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

  </head>
  <body>
    <div class="firstpage" id="home">
      <div class="firstpagecontent">
        <div class="firstpagetext">
          <p>Hello, I'm <span class="myname">Daniel Degrassi</span>.</p>
          <p>I'm a full stack developer</p>
        </div>
        <p id="scrollto2ndpage">Learn more about me<i class="fas fa-arrow-down"></i></p>
      </div>
    </div>
    <nav class="navbar" id="myNavbar">
      <p id="homebutton" class="active-nav">Home</p>
      <p id="aboutbutton">About</p>
      <p id="portfoliobutton">Portfolio</p>
      <p id="contactbutton">Contact</p>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </nav>
    <!-- div below is a hack to get waypoint.inView to work -->
    <div id="about-waypoint" class="wp-helper"></div>
    <div class= "pages" id="about">
      <p class="page-title bb">About</p>
        <div class="text-center">
            <li class="about-keywords">
                <i class="fas fa-rocket about-icon"></i>
                <div class="about-title">Fast</div>
                <div class="about-text">Fast load times and lag free interaction, my highest priority.</div>
            </li>
            <li class="about-keywords">
                <i class="fab fa-medapps about-icon"></i>
                <div class="about-title">Intuitive</div>
                <div class="about-text">Strong preference for easy to use, intuitive UX/UI.</div>
            </li>
            <li class="about-keywords">
                <i class="fab fa-gripfire about-icon"></i>
                <div class="about-title">Dynamic</div>
                <div class="about-text">Websites don't have to be static, I love making pages come to life.</div>
            </li>
            <li class="about-keywords">
                <i class="fas fa-mobile about-icon"></i>
                <div class="about-title">Responsive</div>
                <div class="about-text">My layouts will work on any device, big or small.</div>
            </li>
        </div>
        <div class="text-center">
          <div class="about-keywords">
              <img src="images/me2.jpeg" class="about-img">
              <div id="about-blurb">
                I have a serious passion for all things coding, tackling complicated problems, and coming up with creative and effective solutions.  I want to dedicate my life to exploring and learning the ways of the Code Warrior and become a master.  Front-end, back-end, and beyond.
              </div>
          </div>
          <div class="about-keywords" id="skills-tools-div">
            <p id="skills-tools-title">
              Skills and Tools
            </p>
            <div class="container">
              <div class="skills-tools">
                <i class="fas fa-code skills-tools-icon"></i>
                <div>
                  HTML
                </div>
              </div>
              <div class="skills-tools">
                <i class="fab fa-css3-alt skills-tools-icon"></i> 
                <div>
                  CSS
                </div>
              </div>
            </div>
            <div class="container">
              <div class="skills-tools">
                <i class="far fa-gem skills-tools-icon" ></i> 
                <div>
                  RUBY/RAILS
                </div> 
              </div>
              <div class="skills-tools">
                <i class="fab fa-js-square skills-tools-icon"></i>
                <div>
                  JAVASCRIPT
                </div>
              </div>
            </div>
            <div class="container">
              <div class="skills-tools">
                <i class="fab fa-node-js skills-tools-icon"></i>
                <div>
                  NODE.JS
                </div>
              </div>
              <div class="skills-tools">
                <i class="fab fa-github skills-tools-icon"></i>
                <div>
                  GITHUB
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="portfolio-waypoint" class="wp-helper"></div>
    <section class= "pages" id="portfolio">
      <div class= "page-title bb">Projects</div>
      <div id="myModal" class="modal">
        <div id="modal-box">
          <img src="#" id="modal-img">
          <div id="modal-container">
            <div class="modal-title">
              title
            </div>
            <div class="modal-undertitle">
              undertitle
            </div>
            <div class="modal-text">
                text
            </div>
        </div>
        <div id='modal-footer'>
          <form>
            <input type="button" class="modal-link" value="Link" onclick="window.location.href='#'"/>
          </form>
        </div>
        <span class="close">&times;</span>
        </div>

        </div>
      </div>
      <div class="bottom-border"></div>
      <div class="controls">

        <button type="button" class="control" data-filter=".javascript">Javascript</button>
        <button type="button" class="control" data-filter=".ruby">Ruby/Rails</button>
<!--         <button type="button" class="control" data-filter=".nodejs">Node.js</button> -->
      </div>

      <div id="gallery" class="container flex row wrap">          
        <div class="mix ruby" data-my-order="1">
            <div class="card"></div>
            <div class="text">
              <div class="bold">Château de Missery</div>
              <span class="highlight">Ruby on Rails</span>
            </div>
            <div class="button" id="chateau">LEARN MORE</div>
          </div>
          <div class="mix javascript nodejs" data-my-order="1">
            <div class="card"></div>
            <div class="text">
              <div class="bold">This very website!</div>
              <span class="highlight">Javascript &amp; Node.js</span>
            </div>
            <div class="button" id="myportfolio">LEARN MORE</div>
          </div>
          <div class="mix ruby " data-my-order="1">
            <div class="card"></div>
            <div class="text">
              <div class="bold">Delphi, a Yelp Clone</div>
              <span class="highlight">Ruby on Rails Student Project</span>
            </div>
            <div class="button" id="delphi">LEARN MORE</div>
          </div>
          <div class="mix ruby " data-my-order="1">
            <div class="card"></div>
            <div class="text">
              <div class="bold">Flixster</div>
              <span class="highlight">Ruby on Rails Student Project</span>
            </div>
            <div class="button" id="flixster">LEARN MORE</div>
          </div>
          <div class="mix javascript " data-my-order="1">
            <div class="card"></div>
            <div class="text">
              <div class="bold">Todo</div>
              <span class="highlight">My first Javascript App</span>
            </div>
            <div class="button" id="todo">LEARN MORE</div>
          </div>
        <!-- invisible div to prevent wrap class from making things terrible. -->
          <div class="mix javascript nodejs" data-my-order="1">
            <div class="card invis-div"></div>
          </div>                        
        </div>
      </div>
    </section>
    <div id="contact-waypoint" class="wp-helper"></div>
    <div class= "pages" id="contact">
      <div class="page-title bb">Contact</div>
      <p class= text-under-title>Have a question or want to work together?</p>
      <div class="container">
        <div class='text-center' id="thank-you">Thanks for your message, I'll get back to you as soon as I can!</div>
        <div id='contact-container'>

          <form id="contact-form">
            <div>
              <input id="contact-name" type="text" name="name" placeholder="Enter your name." class="input-style" required>
            </div>
            <!-- Company input doesn't show up on page to catch spambots -->
            <div>
              <input id="company" type="text" placeholder="Enter Company" name="company" size="50">
            </div>
            <div class="each-input">
             <input id="contact-email" type="email" name="email" placeholder="Enter your email" class="input-style" required>
            </div>
            <div class="each-input">
              <textarea id="contact-content" name="message" placeholder="Your Message" class="input-style" resize="vertical" rows="13" required></textarea>
            </div>
            <div class="each-input submit-button-div">
              <input class="submit-button" type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
      <div class="footer text-center" id="footer">
        <div id="back-to-top-div">
          <i id="back-to-top" class="fas fa-angle-double-up"></i>
        </div>
        <a href="https://github.com/DGDegrassi"><i class="fab fa-github-square footer-links"></i></a>
          <a href="https://www.facebook.com/ddegrassi"><i class="fab fa-facebook footer-links"></i></a>
          <a href="https://www.linkedin.com/in/daniel-degrassi-4a87b8140/"><i class="fab fa-linkedin footer-links"></i></a>
        <div class="text-center copyright">Daniel Degrassi
          <span class="copyright-date">&copy;2018</span>
        </div>
      </div>
    </div>




    <script src=https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.0/mixitup.min.js></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
